.gradientCard {
    position: relative;
    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradientCard::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    background: conic-gradient(
            from 0deg,
            transparent,
            #e3e174,
            #4495ff,
            transparent 100%
    );
    animation: rotate 4s linear infinite;
    z-index: -2;
}

.inner {
    border-radius: 18px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.glass, .glassButton{
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(15px);
}
.whiteGlass, .whiteGlassButton {
    background: rgba(255, 255, 255, 0.31);
    backdrop-filter: blur(15px);
}

.progress {
    width: 300px;
    height: 12px;
    background: #1f1f1f;
    border-radius: 999px;
    overflow: hidden;
    border: 1px solid #1f1f1f;
}

.progressFill {
    background: rgba(81, 255, 54, 0.5);
    transform-origin: left;
    transform: scaleX(0);
    height: 100%;
}

.appleScroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;

}
.appleScroll::-webkit-scrollbar-track {
    background: transparent;
}
.appleScroll::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;
}
.appleScroll::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.65);
    background-clip: content-box;
}
.appleScroll::-webkit-scrollbar-corner {
    background: transparent;
}